body {
  background-color: rgb(189, 222, 236);
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: rgb(52, 149, 187);
}

.form .button input {
  background-color: rgb(52, 149, 187);
}

.form a.text {
  color: rgb(52, 149, 187);
}

.form .title::before {
  background-color: rgb(52, 149, 187);
}

.input-field input:is(:focus, :valid) ~ i {
  color: rgb(52, 149, 187);
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: rgb(52, 149, 187);
}

.label-box {
  border: 1.5px solid rgb(168, 168, 168);
  border-radius: 10px;
}

.custom-select {
  width: 20vw;
  height: 35px;
  font-size: 16px;
}

/* Media query for a viewport with dimensions 375px x 672px */
@media (max-width: 375px) and (max-height: 672px) {
  .custom-select {
    width: 45vw;
    height: 40px;
    font-size: 14px;
    margin: auto;
  }
}
